{# src/BVA/PlatformBundle/Resources/views/layout.html.twig #}

{#
<!DOCTYPE HTML>
<html>
    <head>
        <meta charset="utf-8">
        <title>{% block title %}BVA Plateforme{% endblock %}</title>
    </head>
    <body>
        <div id="menu">
            {{ render(controller("BVAPlatformBundle:Advert:menu")) }}
        </div>

        {% block body %}
        {% endblock %}

    </body>
</html>
#}

{% extends "::layout.html.twig" %}

{% block title %}
    Annonces - {{ parent() }}
{% endblock %}

{% block body %}
    {# On définit un sous-titre commun à toutes les pages du bundle, par exemple #}
    <h1>Annonces</h1>

    <hr>

    {# On définit un nouveau bloc, que les vues du bundle pourront remplir #}
    {% block bvaplatform_body %}
    {% endblock %}
{% endblock %}