services:
#    bva_platform.example:
#        class: BVA\PlatformBundle\Example
#        arguments: ["@service_id", "plain_value", "%parameter%"]

    bva_platform.antispam:
        class: BVA\PlatformBundle\Antispam\BVAAntispam
        arguments: # Tableau d'arguments 
              - "@mailer"
              - "%locale%"
              - 2 