services:
#    bva_platform.example:
#        class: BVA\PlatformBundle\Example
#        arguments: ["@service_id", "plain_value", "%parameter%"]

    bva_platform.antispam:
        class: BVA\PlatformBundle\Antispam\BVAAntispam
        arguments: 
              - "@mailer"
              - %locale%
              - 50 # Tableau d'arguments